.projects {
  /* Use flexbox to layout the Project components in a grid */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 25vh;
  margin-bottom: 20px;
  /* Set the width of each Project component to 50% to allow for a maximum of two per row */
  .project {
    width: 50%;
  }
}
